h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 10px;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

:hover {
}

body {
    margin: 0;
    margin-bottom: 50px;
}

#home {
    scroll-margin-top: 100px;
}

#skills {
    scroll-margin-top: 80px;
}

#work {
    scroll-margin-top: 80px;
}

.home {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 850px;
    .name {
        font-size: 80px;
        margin: 0;
        .last {
            color: orangered;
        }
    }
    .type {
        font-size: 30px;
        margin-bottom: 20px;
    }
    button {
        font-size: 20px;
    }
}

button {
    border: 0;
    font-size: 20px;
    padding: 5px 10px;
    font-weight: bold;
    padding: 15px 50px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    border: 3px solid orangered;
    color: orangered;
    background: linear-gradient(orangered, orangered);
    background-size: calc(0%) auto;
    background-repeat: no-repeat;
    background-position: left;

    &:hover {
        color: white;
        background-size: calc(100%) auto;
        transition: transform 200ms, background-size 200ms;
    }
}

header {
    position: sticky;
    padding: 0px;
    top: 0;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px 0px;
    background-color: #fd6d0e;

    .item {
        text-decoration: none;
        padding: 5px 20px;
        color: black;
        font-weight: bold;
        font-size: 20px;

        &:hover {
            color: white;
            text-decoration: underline;
            text-decoration-color: white;
            transition: color 100ms, text-decoration-color 100ms;
        }
    }
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    .title {
        font-size: 50px;
    }
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        > * {
            margin: 0px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .type {
            font-size: 32px;
        }
        .items {
            border: 2px solid;
            font-size: 25px;
            width: 200px;
            height: 200px;
        }
    }
}

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
    .title {
        font-size: 50px;
    }

    .projects {
        > * {
            display: flex;
            margin: 50px 0px;
            flex-flow: row wrap;
            justify-content: center;
        }
        .title {
            font-size: 25px;
        }
        .description {
            font-size: 17px;
        }
        button {
            padding: 10px;
            font-size: 18px;
        }
    }

    .info {
        margin: 10px;
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
        font-size: 25px;
    }
}

img {
    width: 100%;
    max-width: 600px;
}

form {
    display: flex;
    justify-content: center;
}

.pointer {
    border-radius: 50%;
    position: fixed;
    top: 15px;
    left: 50vw;
    font-size: 0;
    pointer-events: none;
    z-index: 2;

    &.inner {
        background-color: #7c3d00;
        width: 10px;
        height: 10px;
    }

    &.outer {
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: 2px solid #7c3d00;
    }
}

::selection {
    background-color: #89cff0;
}

.circles {
    div {
        width: 100px;
        height: 100px;
        position: fixed;
        top: -100px;
        animation: animate 15s linear infinite;
        z-index: -1;
    }
}

@keyframes animate {
    0% {
        transform: translateY(100vh) rotate(0deg);
        opacity: 1;
        border-radius: 5%;
    }

    100% {
        transform: translateY(-500px) rotate(720deg);
        opacity: 0;
        border-radius: 40%;
    }
}
